server/.vs/slnx.sqlite
server/.vs/server.slnx/FileContentIndex/51c3e438-fee5-464f-93a0-d3c7d5010202.vsidx
server/.vs/server.slnx/FileContentIndex/5d12a098-8368-4664-9483-e6cdc5af243a.vsidx
server/.vs/server.slnx/FileContentIndex/90ebafa8-ee32-42c4-9a11-c1572faefb82.vsidx
server/.vs/server.slnx/FileContentIndex/93047031-97d4-42aa-94db-5def152762b1.vsidx
server/.vs/server.slnx/FileContentIndex/c93ded32-2aa2-4f61-a651-28b714a0f0a0.vsidx
server/.vs/server/CopilotIndices/18.7.1225.11805/CodeChunks.db
server/.vs/server/CopilotIndices/18.7.1225.11805/CodeChunks.db-shm
server/.vs/server/CopilotIndices/18.7.1225.11805/CodeChunks.db-wal
server/.vs/server/CopilotIndices/18.7.1225.11805/SemanticSymbols.db
server/.vs/server/CopilotIndices/18.7.1225.11805/SemanticSymbols.db-shm
server/.vs/server/CopilotIndices/18.7.1225.11805/SemanticSymbols.db-wal
